.my-bg {
  background-color: tomato;
}

.my-bg-image {
  height: 200px;
  background-image: url("https://picsum.photos/id/237/300/900");
  background-repeat: no-repeat;
}

.my-bg-image-1 {
  height: 100vh;
  background-image: url("images/mountain.jpg");
  background-repeat: no-repeat;
}
